<h1>Sistema de tarefas</h1>
<hr />
<a href="/tarefa">Nova tarefa</a>

<a href="/tarefa" mat-raised-button>
  <mat-icon>add</mat-icon>
  Criar
</a>

<fieldset>
  <legend>Tarefas concluidas</legend>
  <ol>
    
    <li *ngFor="let t of filtrar(true)">
      {{ t.titulo }}
      
      <mat-slide-toggle [(ngModel)]="t.concluida"
      (change)="alteraSituacaoTarefa(t)"
      ></mat-slide-toggle>
      <button mat-button (click)="excluirTarefa(t.id!)"  > x </button>
      <a href="/tarefa/{{t.id}}">E</a>
    </li>

    <hr>
    
    <li *ngFor="let t of filtrar(false)">
      {{ t.titulo }}
      
      <mat-slide-toggle [(ngModel)]="t.concluida"
      (change)="alteraSituacaoTarefa(t)"
      ></mat-slide-toggle>
      <button mat-button (click)="excluirTarefa(t.id!)"  > x </button>
    </li>
   
  </ol>
</fieldset>


